body { font-family: Calibri ; font-size:18px; }

.tftable {color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.tftable th {background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
.tftable tr {background-color:#d4e3e5;}
.tftable td {border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
.tftable tr:hover {background-color:#ffffff;}

p.measures {
    font-size: 0.8em
}

#payloadInput {
    display: block;
    width: 100%;
    height: 20em;
    font-size: 0.8em;
    font-family: monospace;
    padding: 10
}
